* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


body::before,
body::after {
    content: "";
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 200vh;
    pointer-events: none;
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.15;
    z-index: 0;
}


body {
    background-image: url("img/backgroundimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("img"), auto;
}



.bigclock {
    position: fixed;
    top: 20%;
    font-size: 35px;
    text-shadow: 5px 5px 15px black;
    font-weight: 550;
    font-style: italic;
    color: white;
}

.desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main window */
.window {
    width: 700px;
    background: #0e1825;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border: 1px solid white;
}

#workWindow .window {
    width: 90vw;
    height: 85vh;
}

/* Top bar */
.window-bar {
    background: #141424;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 6px;
}

.buttons span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close {
    background: #ff5f56;
}

.minimize {
    background: #ffbd2e;
}

.maximize {
    background: #27c93f;
}

.title {
    font-size: 13px;
    color: #aaa;
}

/* Content */
.window-content {
    padding: 40px;
    text-align: center;
}

.window-content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.window-content p {
    color: #b5b5c9;
    margin-bottom: 25px;
}

/* Tabs (buttons) */
.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.tabs a {
    background: transparent;
    border: none;
    padding: 0;
    color: inherit;
}

.accent-name {
    display: inline-block;
    color: #5aa9ff;
    font-family: "Libre Baskerville", serif, cursive;
    ;

    transition:
        transform 0.35s cubic-bezier(0.2, 1, 0.2, 1),
        text-shadow 0.35s ease;
}

.accent-name:hover {
    transform: translateY(-5px) scale(1.03);

    text-shadow: 0 0 15px rgba(90, 169, 255, 0.7);
}

.tabs a:hover {
    transform: translateY(-2px);
}

/* Terminal box style */
.terminal-box {
    background: #0f0f1a;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-family: monospace;
    color: #7efc9a;
    border: 1px solid white;
}

.prompt {
    color: #5aa9ff;
}



.icon::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 28px;
    width: 60%;
    height: 2px;
    background: white;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.25s cubic-bezier(0.2, 1, 0.2, 1);
    opacity: 0.85;
}

.icon-grid {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.icon {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    transition: 0.2s ease;
    position: relative;
}

.icon img {
    width: 120px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 6px;
}

.icon span {
    font-size: 12px;
    color: #eaeaea;
}

.icon:hover {
    transform: translateY(-4px) rotate(-4deg);
}

.icon:hover::before,
.icon:hover::after {
    transform: translateX(-50%) scaleX(1) rotate(-0.3deg);
}

.hero-name {
    font-size: 80px;
    font-weight: 500;
    color: white;
    font-family: "Libre Baskerville", serif, cursive;
    font-size: 36px;
    letter-spacing: 5px;
}


.tech-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.tech-icon-box {
    width: 50px;
    height: 50px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease;
}

.tech-icon-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.tech-icon-box:hover {
    transform: translateY(-2px);
}

/* POPUP WINDOW */
.popup-window {
    position: fixed;

    width: 700px;
    height: 400px;

    background: #0e1825;
    border: 2px solid white;

    box-shadow: 0 25px 80px rgba(0, 0, 0, 0.7);

    display: none;
    z-index: 999;

    opacity: 0;
    transform: scale(0.7) translateY(20px);
    transform-origin: center;

    transition: opacity 0.25s ease, transform 0.35s cubic-bezier(0.2, 1.2, 0.2, 1);
}

.popup-content img {
    width: 10%;
}

/* top bar */
.popup-bar {
    background: #141424;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #aaa;
}

.popup-bar button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* content */
.popup-content {
    padding: 20px;
    color: #eaeaea;
    font-size: 14px;
    line-height: 1.5;
}

.popup-window.show {
    opacity: 1;
    transform: scale(1) translateY(0);
    animation: popupBounce 0.1s ease-out;
}

.theme-toggle {
    position: fixed;
    top: 15px;
    left: 15px;

    background: transparent;
    border: none;
    cursor: pointer;

    z-index: 1000;

    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;
}

.theme-toggle img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
}

.theme-toggle:hover {
    transform: scale(1.1) rotate(10deg);
}

.links-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
    padding-top: 10px;
}

.link-icon {
    text-decoration: none;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100px;
    padding: 10px;

    transition: 0.2s ease;
    border-radius: 10px;
}

.link-icon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 6px;
}

.link-icon span {
    font-size: 12px;
    color: #eaeaea;
}

#contactWindow h1 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: white;
}

.emailgrid {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.emailButton {
    margin-top: 50px;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 22px;

    background: white;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;



    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,


}

.emailButton:hover {
    transform: translateY(-3px) scale(1.02);



}


/* LIGHT MODE */
body.light {
    color: #111;
    background-image: url("img/backgroundimgwhite.png");
}

body.light .bigclock {
    color: black;
    text-shadow: 5px 5px 15px white;

}

body.light .accent-name {
    color: orange;
}

body.light .accent-name:hover {
    text-shadow: 0 0 15px orange;
}

body.light .window {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

body.light .window-bar {
    background: #78797a;
    border: 1px solid rgb(121, 121, 121);
}

body.light .title {
    color: #444;
}

body.light .window-content p {
    color: #333;
}

body.light .icon span {
    color: #111;
}

body.light .popup-window {
    background: #ffffff;
    border: 1px solid #ddd;
}

body.light .popup-bar {
    background: #f3f3f3;
    color: #333;
}

body.light img {
    filter: invert(.7) hue-rotate(180deg);
}

body.light .hero-name {
    color: #000;
    text-shadow: none;
}







/*!!!!ANIMS!!!*/
@keyframes popupBounce {
    0% {
        transform: scale(0.7) translateY(20px);
    }

    60% {
        transform: scale(1.03) translateY(-2px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes snowFall1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(120vh);
    }
}

@keyframes snowFall2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(150vh);
    }
}