.app-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.window-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .8s cubic-bezier(0.2, 1, 0.2, 1);
}

/* main is visible */
#mainWindow {
    transform: translateX(0);

}

/* work is offscreen right */
.work-window {
    transform: translateX(100%) rotate(10deg);
}

/* active states */
.app-wrapper.show-work #mainWindow {
    transform: translateX(-100%) rotate(-70deg);
}

.app-wrapper.show-work .work-window {
    transform: translateX(0);
}

.projectGrid {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 200%;

}

.gridCell {
    border-radius: 1%;
    border: 2px solid white;
}

.gridCaption {
    font-family: "Libre Baskerville", serif;
    padding: 5px;
    width: 500px;
}

.capsuleTitle {
    font-size: large;
    font-size: 100%;
    font-weight: bold;
}

.description {
    font-size: small;

}

.gridCaption p {
    color: white;

}

.gridCaption button {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: .5px solid white;
    background: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transition: all 0.2s ease;
}

.gridCaption button:hover {
    background: black(255, 255, 255, 0.18);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.gridCell img {
    width: 500px;
    object-fit: fill;

}

.gridTags {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 250px;


}

.gridTags img {
    margin-top: 0;
    width: 70px !important;

    object-fit: contain;
}